*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
}

.header1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(71, 9, 9);
}

.coffe_maker_img{
    width: 30px;
    height: 30px;
}

.footer{
    position: absolute;
    bottom: 0%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}


.footer1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer2{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer3{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer4{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button{
    display: block;
    width: 90%;
    height: 50px;
    border-radius: 25px;
    border-style: none;
    background-color:blanchedalmond;
}

.container{
    display: flex;
    justify-content: space-around;
}

.container1
{
    width: 40%;
    padding: 15px;
    background-color: bisque;
    margin-left: 15px;
    border-radius: 10px;
    margin-top: 30px;
    height:40%;
}

.container2{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

.container2p2{
    align-items: left;
}

#hrcolor{
    color: rgb(188, 140, 76);
}

.container3{
    width: 100%;
    padding: 30px;
    margin-bottom: 30px;
    background-color: bisque;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}

.container4
{
    width: 40%;
    margin-left: 15px;
    border-radius: 10px;
    margin-top: 30px;
}

.example-group {
    position: relative;
    display: inline-block;
  }

  .input-label {
    background-color:bisque;
    font-size: 15px;
    position: absolute;
    left: 25px;
    top: -7px;
    padding: 0 2px;
    color: rgb(194, 153, 90);
  }

  .input{
    width: 100%;
    height: 30px;
    border-radius:15px ;
    margin-bottom: 35px;
    border-width: 1px;
    background-color:bisque;
    padding: 15px;
    height: 15px;
}

span{
    color: rgb(194, 153, 90);
    padding: 0px;
}

br{
    margin: 10px;
}

.itemsHeading{
    font-size: 15px;
    font-family:sans-serif;
    font-weight: lighter;
    color: rgb(194, 153, 90);
}

.makingBold{
    font-weight: bold;
}

.coffeeMaterHeading{
    font-size: 30px;
    font-weight: bold;
    color: rgb(207, 158, 86);
}